<div class="row">
    <md-card class="col-sm-3 projCard" ng-repeat="project in projects | advanceSearch:searchFilters">
        <md-subheader class="md-primary">{{project.title}}</md-subheader>
        <h5 class="projectFields">Division:<span id="projSpan"> {{project.division}}</span></h5>
        <h5 layout="row" class="projectFields">Project Owner:
                    <span id="projSpan" ng-show="changeOwner !== $index"> {{project.project_owner}} </span>
                    <img flex="10" id="editIcon" src="assets/images/edit.svg" alt="" ng-click="toggleOwner($index, project)">
                    <md-input-container id="editInput" ng-show="changeOwner === $index">
                       <input type="text" ng-model="project.project_owner">
                    </md-input-container>
                    </h5>
        <h5 layout="row" class="projectFields">Budget:
                    <span id="projSpan" ng-show="adjustBudget !== $index"> {{project.budget | currency}}</span>
                    <img flex="10" id="editIcon" src="assets/images/edit.svg" alt="" ng-click="toggleBudget($index, project)">
                     <md-input-container id="editInput" ng-show="adjustBudget === $index">
                       <input type="text" ng-model="project.budget">
                    </md-input-container>
                    </h5>
        <h5 layout="row" class="projectFields">Status:
                    <span id="projSpan" ng-show="changeStatus !== $index" ng-class="{colorPrime: project.status ==  'new'}"> {{project.status}}</span>
                    <img flex="10" id="editIcon" src="assets/images/edit.svg" alt="" ng-click="toggleStatus($index, project)">
                    <md-input-container id="editInput" ng-show="changeStatus === $index">
                       <input type="text" ng-model="project.status">
                    </md-input-container>
                    </h5>
        <h5 class="projectFields">Date Created:<span id="projSpan"> {{project.created}}</span></h5>
        <h5 class="projectFields">Date Modified:<span id="projSpan"> {{project.modified || 'NA'}}</span></h5>
        <div>
            <md-button id="moreInfoButton" class="md-primary">More Info</md-button>
        </div>
    </md-card>
</div>
